body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  margin: 0px;
  padding: 0px;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

table, tr, td, th {margin: 0;border: 0;padding: 5px;border-collapse: collapse;}

li {
    list-style-type: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

li:hover {
  cursor: pointer;
  background-color: #aaa;
}

.localStream {
  width: 100%;
  height: 100px;
  display: inline-block;
  top: 15px;
  right: 15px;
  float: center;
}

.localStream video {
  border: 0px solid rgb(119, 119, 119);
  outline: 0px none;
  height: 100%;
  width: 100%;
}

.remoteStreams{
  display: inline-block;
  top: 15px;
  right: 15px;
  float: left;
  text-align: center;
  width: 100%;
}

.remoteStreams td:hover {
  /* cursor: pointer;
  background-color: #aaa; */
}

/* .remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 3px 3px 3px 3px;
  box-shadow:inset 1px 2px 6px #070707;
} */

.footer {
   clear: both;
}

.camBtn{
  width: 100px !important;
  display: block !important;
  margin-top: 20px;
}

.link{
  color: #ffffff;
}

.videoClass{
  display: inline;
  width: 100%;
  height: 100%;
}

.hide{
  display: none !important;
}

.form-control{
  display: inline-block !important;
  width: 300px !important;
}

.camDiv{
  width:100%;
}

.wrapperText{
  padding-top: 25px;
  font-size: 16px;
}

.form-outline{
  border: 0px !important;
}

.commentDiv{
  margin-top: 5px;
  border: 0 !important;
}

.cmntBtn{
  margin-bottom: 5px;
}

.custom-comment-div{
  padding-top: 20px;
  height: 400px;
  overflow-y: auto;
  position: relative;
}

.commenttitle{
  margin: 0%;
}

.commentmsg{
  margin-bottom: 10px;
}

hr{
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.alert{
  margin-top: 20px;
  margin-bottom: 0px !important;
}

div#container-fluid {
  position: fixed;
  width: 100%;
  height: 100%;
}

div#container-fluid > iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.row{
  padding-top: 40px;
}

div#cmntRow{
  padding-top: 20px;
}